.Compras{
    margin: 20px;

}


.info-restaurante {
    border: 2px solid grey;
    text-align: center;
}

.cardapio { 
    margin: 20px;
    text-align: left;
}

.card-dish {
    padding: 20px;
    border: 2px solid grey; 
    width: 70%;
    text-align: center;
    /* margin: 20px; */
}
.card-carrinho{
    text-align: center;
    margin: 20px;
    margin-left: 50px;
    padding: 20px;
    width: 50%;
    max-height: 320px;
    border: 2px solid grey; 
    border-radius: 30px;
}

.carrinho {
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid rgb(221, 81, 81); 
    min-height: 500px;
    width: 100%;
    border-radius: 50px;
    
}
.header-carrinho{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2px;
    width: 50%;
    height: 40%;
    text-align: left;
}

.cardapio { grid-area: menu; }
.header-carrinho { grid-area: main; }
.carrinho { grid-area: footer; }
.grid-areas {
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-areas: 
        'menu main main'
        'menu footer footer';
}

.modal-informacoes {
    min-height: 500px;
    padding: 100px;

}

.form-info-endereco {
    text-align: left;
    display: grid;
    grid-template-columns: auto;
}

.form-info-endereco {
    padding: 10px;
}

.rate {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    padding: 20px;
    margin-top: 50px;
}
.button-star {
    background-color: transparent;
    border: 0;
    color: #00f;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    text-decoration: underline;
}

.stars {
    margin-top: 20px;
    text-align: center;
}