.cadastro {
    position: relative;
    /* margin-top: 20px; */

}

.cadastroForm {
    position: relative;
    margin-right: 20px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
}

.grid-container-cadastro {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

}
.gridInput {
    display: grid;
    padding: 20px;
    width: 100%;

}

.inputCadastro {
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.button-cadastro {
    right: 0;
    margin: 10px;
    border-radius: 5px;
}

.menu-cadastro {
    background-color: rgb(224, 44, 44);
}

.container-error {
    color: rgb(252, 209, 19);
    text-align: center;
    background-color: white;
}