body, html  {  	
	margin: 0;  	
	padding: 0;  	
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  width: 100%;
  
}   

.background {
  transform: translateX(100px);
  transform: scale(1, 1);
  
}

.dropdown-menu {
  width: 300px;
  height: 450px;
}
.dropdown-menu-cadastro {
  width: 300px;
  height: 450px;
}

.Teste {
  display: flex;
  justify-content: center;
}
.Cadastro {
  margin-left: 500px;
}

.Search {
  justify-content: center;
}

#ButtonLogout {
  margin-left: 700px;

}
#Login {
  width: 200px;
  margin-right: 2000px;
  display: grid;
  
  
}
#form-search {
  display: 'flex';
  margin-left: '500px';
}
#containerCategorias {
  border: 5px ;
  padding: .5rem;
  width: 300px;
  margin: 20px
}

#CardsRestaurantes {
  
  border: 10px;
  width: 800px;
  padding: 20px;
}

.cards {
  align-items: center;
}