body,html {
    /* background-color: white; */
    width: 100%;
    height: 100%;
 }

.HomeUser {
    background-color: white;
    height: 100%;
}

.home-tittle {
    text-align: center;
}
.naveHomeUser {
    position: relative;
}
.container-search {
    position: relative;
    text-align: center;
}

.search {
    width: 500px;
    height: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 2px #333333;  
}

.button-logout {
    position: absolute;
    right: 0;
    margin: 20px;
}

.containerCategorias {
    position: relative;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    
}
.categorias {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 50px;
    
}
.ulCategorias {
    list-style: none;
    margin-top: 10px;
    margin-right: 40px;
    
}
.cardsRestaurantes{
    align-items: center;
}

.container-cards-restaurantes {
    margin: 20px;
    border: 1px solid grey;
    text-align: center;
    
}